@media (max-width: 480px) {
    .about-us {
        height: 100%;
        /*padding: 0;*/
    }
    .about-us-1 {
        height: 100%;
    }

    .our-portfolio {
        height: 100%;
    }

}
.about-us {
    width: 100%;
    height: auto;
    background: url(../images/background_about1.png) no-repeat top right fixed;
    background-color: white;
    /*background-size: 320px 480px;*/
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
}

.about-full {
    margin-left: -15px;
    margin-right: -15px;
}
.about-us-1 {

    width: 100%;
    height: auto;
    background: url(../images/background_about2.png) no-repeat top right fixed;
    background-color: white;
    /*background-size: 320px 480px;*/
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
}

.about-us ul {
    padding-left: 0;
}

.about-us ul li {
    color: white;
    list-style-type: none;
    text-align: center;
}

.about-us ul li span {
    font-family: "OpenSans-Light";
    font-size: 48px;
}

.about-us ul li p {
    font-family: "OpenSans-Bold";
    font-size: 14px;
    letter-spacing: 0.2em;
    margin-bottom: 3px;
}

.au-investments {
    padding-top: 80px;
    padding-bottom: 96px;
}
.au-investments-year {
    padding-bottom: 20px;
}

.au-in-exists {
    padding-top: 50px;
    padding-bottom: 10px;
    /*padding-bottom: 60px;*/
}

.au-content {
    padding-top: 36px;
}

.au-active {
    border-bottom-color: #c77777;
    margin-bottom: 30px;
    width: 30px;
    border-bottom-style: solid;
}

.au-content-first {
    font-family: "OpenSans-Bold";
    font-size: 11px;
    letter-spacing: 0.3em;
    color: #89c1cf;
}

.au-content-second {
    font-family: "Open Sans";
    font-size: 20px;
    letter-spacing: 0.2em;
    margin-bottom: 20px;
}

.au-content-third {
    font-family: "Open Sans";
    font-size: 13px;
    line-height: 2;
}

.au-content-description p {
    font-family: "Open Sans";
    font-size: 13px;
    line-height: 2;
    padding-bottom: 10px;
}

.about-us-2 {
    background-size: cover;
    background-image: url("../images/background_about2.png");
    width: 320px;
    height: 320px;
    background-repeat: no-repeat;
    background-position: left top;
}

.about-us-3 {
    background-size: cover;
    background-image: url("../images/background_about3.png");
}

.our-portfolio {
    width: 100%;
    height: auto;
    background-image: url(../images/portfolio/background-portfolio.png);
    background-color: white;
    /*background-size: 320px 480px;*/
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
    background-size: cover;
}