
@media (max-width: 480px) {
    .contact {
        height: 100%;
        /*padding: 0;*/
    }
}
.contact {
    width: 100%;
    height: auto;
    background: url(../images/contact-background.png) no-repeat;
    background-color: white;
    /*background-size: 320px 480px;*/
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    margin-top: 30px;
}

.contact-header {
    margin-top: 70px;
    margin-bottom: 20px;
}

.contact-header p {
    font-family: OpenSans-Bold;
    font-size: 11px;
    color: #77b7c7;
    letter-spacing: 0.3em;
}

.contact-header span {
    font-family: "Open Sans";
    font-size: 20px;
    color: #ffffff;
    letter-spacing: 0.2em;
}


.contact-content {
    margin-top: 50px;
}

.contact-send-mail {
    margin-top: 100px;
}

.contact-image {
    padding-right: 0;
}

.contact-place {
    padding-left: 0;
}

.contact-place .country {
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: bold;
    color: #0e2236;
    letter-spacing: 0.2em;
}

.send-mail-header {
    margin-bottom: 20px;
}

.send-mail-header span {
    margin-left: 10px;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: bold;
    color: #0e2236;
}

.send-mail-content {
    margin-top: 20px;
    padding-left: 0;
}

.send-mail-content .your-name {
    border-radius: 0;
    margin-bottom: 12px;
}

.send-mail-content .your-mail {
    border-radius: 0;
    margin-bottom: 12px;
}

.send-mail-content .your-message {
    border-radius: 0;
    margin-bottom: 12px;
}

.send-mail-content .btn-send-mail {
    width: 100%;
    border-radius: 0;
    font-family: "Open Sans";
    font-size: 13px;
    letter-spacing: 0.2em;
    color: #fff;
    background-color: #17293d;
    border-color: #17293d;
}

.border-active {
    border-bottom-color: #c77777;
    margin-bottom: 30px;
    border-bottom-style: solid;
}