.admin-bar nav.navbar.navbar-default.navbar-fixed-top{ top:32px;}

@media (max-width: 600px){
    .admin-bar nav.navbar.navbar-default.navbar-fixed-top{ top:0px;}

}
@font-face { font-family: OpenSans-Light; src: url('../fonts/open-sans.light.ttf'); }
@font-face { font-family: OpenSans-Bold; src: url('../fonts/open-sans.bold.ttf'); }
@font-face { font-family: OpenSans-Regular; src: url('../fonts/open-sans.regular.ttf'); }
.navbar-default .search {
    cursor: pointer;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
#header-slides {
    margin-left: -15px;
    margin-right: -15px;
}
.navbar .container-fluid .navbar-header .navbar-brand {
    margin-left: 0;
}
.navbar-default .search-form {
    padding: 0;
    margin-top: 12px;
}
.navbar-default .search-form input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid gray;
    font-weight: lighter;
    font-size: 12pt;
    width: 100%;
    color: gray;
}
.navbar-default .search-form input:focus {
    border: 0;
    border-bottom: 1px solid gray;
    outline: none;
}

.navbar-default .navbar-collapse.in .search-form input{
    background-color: rgba(0,0,0,0.7);
    text-align: right;
}
.nav-background {
    background: rgba(14, 34, 54, 0.85)!important;
}
.navbar-default {
    /*background-color: rgba(0, 0, 0, 0.2);  *//*Change with transparent*/
    border-color: transparent;
    padding: 10px 0;
    border-bottom: 0;
    letter-spacing: 0.1em;
    background: transparent;
    /*background: rgba(14, 34, 54, 0.85);*/
    text-align: center;
    font-size: 13px;
    font-family: OpenSans-Bold;
    line-height: 4;
}

.navbar-default.top-nav-collapse{
    background: 0 0;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.navbar-default .navbar-brand {
    color: #ffffff;
    padding-top: 2px;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-default .navbar-text {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a,.navbar-default .navbar-nav > li > span.and  {
    color: #ffffff;
    display: inline-block;
}

.navbar-default.light-bg .navbar-nav > li > a,.navbar-default.light-bg  .navbar-nav > li > span.and  {
    color: #000;
    display: inline-block;
}

.navbar-default .navbar-nav li a.dca-link {
    padding-right: 5px;
}

.navbar-default .navbar-nav li a.revel-partner-link {
    padding-left: 5px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #17518C;
}

.navbar-default .navbar-nav > li.search > a{
    color:#67819b;
    font-size: 0.9em;
}

.navbar-default.light-bg .navbar-nav > li.search > a{
    color:#a4a9af;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: transparent;  /*Change with transparent*/
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: transparent;  /*Change with transparent*/
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: transparent;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: transparent;
}
.navbar-default .navbar-toggle {
    border-color: transparent;

    padding: 10px 7px;
    border-radius: 30px;
    border: 7px solid transparent;
}

.navbar-default .btn-menu, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle.collapsed:focus {
    background-color: #131212;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.header-btn-menu {
    background-color: transparent;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-default.light-bg .navbar-toggle .icon-bar {
    background-color: #777;
}

.navbar-default.top-nav-collapse .navbar-collapse.in{
    background-color: rgba(0,0,0,0.1);
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}
.navbar-default .navbar-link {
    color: #ffffff;
}
.navbar-default .navbar-link:hover {
    color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-brand {
        color: #ffffff;
        min-height: 60px;
        padding-top: 5px;
    }
    .navbar-default .navbar-toggle {
        margin-top: 4px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #06111b;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #06111b;
        background-color: transparent;
    }
}

#about-us {

}

.btn-scrolling-down {
    position: absolute;
    top: 420px;
    z-index: 4;
}

.btn-scrolling-down img {
    cursor: pointer;
}




