#page03{
  padding-left: 0px;
  padding-right: 0px;
}#page03>.row{
  margin-left: 0px;
  margin-right: 0px;
 }
.page03-row-01{
  background-image: url("../images/portfolio-content-bgr.png");
  background-size: cover;
  height: 75%;
  font-size: 20px;
}

.page03-row-01>div{
  height: 100%;
  display: table;
  table-layout: fixed;
  padding-bottom: 5%;
}
.page03-row-01>div>div{
  display:table-cell;
  vertical-align:bottom;
}
.page03-row-01>div>div>p{
  color: white;
  font-size: 40px;
}
.page03-row-01>div>div>p:first-child{
  color: #89c1cf;
  font-size: 20px;
}
.page03-row-01>div>div>span>p{
  color: white;
}
.page03-row-01>div>div>.red-line{
  border-top: solid #c47877 2px;
}


.page03-row-02-slides>.slick-prev:before
{
  content: url("../images/portfolio_pre_slide_btn.png");
}
[dir='rtl'] .page03-row-02-slides>.slick-prev:before
{
  content: url("../images/portfolio_nex_slide_btn.png");
}
.page03-row-02-slides>.slick-next:before
{
  content: url("../images/portfolio_nex_slide_btn.png");
}
[dir='rtl'] .page03-row-02-slides>.slick-next:before
{
  content: url("../images/portfolio_pre_slide_btn.png");
}
.page03-row-02{
  width: 100%;
  height: 50%;
  display: none;
  /*position: relative;*/
}
.page03-row-02-slides{
  width: 94%;
  height: 100%;
  background: #f3f3f3;
  border-bottom: solid #d7d7d7 1px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 15px;
}
.page03-row-02-slides>div{
  height: 100%;
}
.page03-row-02-slides>div>div{
  height: 100%;
}
.page03-row-02-slides>div>div>div{
  height: 100%;
}

.page03-row-02-slides .slick-list .slick-slide {
    background-color: #fff;
}

.page03-row-02-slides .slick-list .slick-slide {
    outline: 0;
}

.portfolio-image {
    margin-top: 30px;
}

.portfolio-title {
    margin-top: 15px;
    margin-bottom: 0;
}

.portfolio-title .portfolio-title-prefix {
    font-family: OpenSans-Bold;
    font-size: 13px;
}

.portfolio-title .portfolio-title-suffix {
    font-family: OpenSans-Regular;
    font-size: 13px;
}



.page03-slide{
  width: 100%;
  height: 100%;
  font-size: 15px;
  line-height: 200%;
}
.page03-slide>div{
  height: 100%;
  display: table;
  table-layout: fixed;
}
.page03-slide>div>div{
  display:table-cell;
  vertical-align:middle;
}
.page03-slide>div>div>img{
  width: 100%;
}
.page03-slide>div>div>ul{
  color: #2d404f;
}
.page03-slide>div>div>ul>li>strong{
  color: #000e23;
}
.page03-slide>div>div>p{
  color: #757575;
}

.page03-slide .portfolio-title-content {
    font-family: OpenSans-Regular;
    font-size: 13px;
    line-height: 2;
}
.portfolio-slide-close-btn{
  position: relative;
  top: 0;
  right: 0;
  /*margin: 30px;*/
  z-index: 1;
}

.team-slide {
    width: 100%;
    height: 100%;
    font-size: 15px;
    line-height: 200%;
    padding-left: 15px;
    padding-right: 15px;
}

.team-slide-close-btn {
    position: absolute;
    top: 22px;
    right: 0px;
    /*margin: 30px;*/
    z-index: 1;
}

.page03-row-03{
  width: 100%;
  height: 20%;
  position: relative;
  margin-top: 30px;
}

.portfolio-filter {
    margin-bottom: 30px;
}

.page03-row-03>div{
  height: 100%;
  display: table;
  table-layout: fixed;
}
.page03-row-03>div>ul{
  display:table-cell;
  vertical-align:middle;
  horiz-align: left;
}

.page03-row-03>div{
  /*position: absolute;*/
  /*top: 50%;*/
  /*margin-top: -10px;*/
  /*width: 100%;*/
}
.page03-row-03>div>ul>li{
  /*margin-right: 4%;*/
  font-size: 13px;
  font-family: "OpenSans-Bold";
}
.page03-row-03>div>ul>li>a{
  text-decoration: none;
  color: #000e23;
}
.page03-row-03>div>ul>li>a:active{
  color: #93c6d1;
}
.page03-row-03>div>ul>li:first-child{
  margin-right: 2%;
}
.page03-row-03>div>ul>li:first-child{
    font-family: OpenSans-Bold;
    color: #d9a7a5;
}


.page03-row-04{
  width: 100%;
}
.portfolio-block{
  margin-bottom: 5%;
}
.portfolio-block>a>img{
  width: 100%;
}