#page02>.row{
  height: 100%;
}
#page02>.row>div{
   height: 100%;
 }

.page02_col_01{
  background-size: cover;
  background-image: url("../images/about_us_caption_bgr.png");
  color: white;
  text-align: center;
}
.page02_col_01>ul{
  padding-left: 0px;
}
.page02_col_01>ul>li{
  position: absolute;
  width: 100%;
  margin-left: -15px;
}
.page02_col_01>ul>li{
  top: 40%;
}
.page02_col_01>ul>li:first-child{
  top: 10%;
}
.page02_col_01>ul>li:last-child{
  top: 80%;
}
.page02_col_01>ul>li>span{
  font-size: 50px;
}
.page02_col_01>ul>li>p{
  font-size: 15px;
}

.page02_col_02{
  padding: 70px;
  font-size: 20px;
}
.page02_col_02>div{
  position: absolute;
  top: 50%;
  margin-top: -200px;
}
 .page02_col_02>div>p{
   color: #1d2e3e;
   font-size: 40px;
 }
.page02_col_02>div>p:first-child{
  color: #89c1cf;
  font-size: 20px;
}
.page02_col_02>div>span>p{
  width: 800px;
}
.red-line{
  /*height: 2px;*/
  width: 30px;
  border-top: solid crimson 2px;
}