.portfolio-header {
    margin-bottom: 20px;
}

.portfolio-header  p {
    font-family: OpenSans-Bold;
    font-size: 11px;
    margin-top: 27px;
    color: #77b7c7;
    letter-spacing: 0.2em;
}

.portfolio-header span {
    font-family: "Open Sans";
    font-size: 20px;
    letter-spacing: 0.3em;
    color: #ffffff;
}
.portfolio-active {
    border-bottom-color: #c77777;
    margin-bottom: 30px;
    width: 30px;
    border-bottom-style: solid;
}
.portfolio-content p {
    font-family: "Open Sans";
    font-size: 13px;
    color: #ffffff;
    margin-bottom: 40px;
    line-height: 2;

}

.portfolio-logo .image {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 60px;
}

.portfolio-logo .border-left {
    height: 160px;
    border-left-color: #f2f2f2;
    border-left-width: 10px;
    border-left-style: solid;
    margin-top: 30px;
    border-top-style: solid;
    border-top-color: #f2f2f2;
    border-top-width: 10px;
    border-bottom-style: solid;
    border-bottom-color: #f2f2f2;
    border-bottom-width: 10px;

}

.portfolio-logo .border-right {
    height: 160px;
    border-right-color: #f2f2f2;
    border-right-width: 10px;
    border-right-style: solid;
    margin-top: 30px;
    border-top-style: solid;
    border-top-color: #f2f2f2;
    border-top-width: 10px;
    border-bottom-style: solid;
    border-bottom-color: #f2f2f2;
    border-bottom-width: 10px;

}

.filter-portfolio ul li.filter {
    color: #c77777;
    font-size: 13px;
    font-family: OpenSans-Bold;
}

.filter-portfolio ul li a {
    color: #0e2236;
    font-size: 13px;
    font-family: "Open Sans"
}