.team {
    width: 100%;
    height: auto;
    background: url(../images/team/team-background.png) no-repeat;
    background-color: white;
    /*background-size: 320px 480px;*/
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
}

.team-header {
    margin-top: 70px;
    margin-bottom: 20px;
}

.team-header p {
    font-family: OpenSans-Bold;
    font-size: 11px;
    color: #77b7c7;
    letter-spacing: 0.3em;
}

.team-header span {
    font-family: "Open Sans";
    font-size: 20px;
    color: #ffffff;
    letter-spacing: 0.2em;
}

.team-image {
    margin-top: 30px;
    margin-bottom: 10px;
}

.team-content {
    font-family: "OpenSans-Regular";
    font-size: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.team-logo {
    font-family: "Open Sans";
    font-size: 16px;
    color: #0e2236;
}
@media (max-width: 480px) {
    .team-detail {
        height: 100%;
        /*padding: 0;*/
    }
}
.team-detail {
    width: 100%;
    height: 300px;
    background: url(../images/team/team-detail.png) no-repeat;
    background-color: white;
    /*background-size: 320px 480px;*/
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% 100%;
    margin-bottom: 36px;
}

.team-slide .team-detail-member {
    margin-top: 36px;
    font-family: OpenSans-Light;
    font-size: 30px;
    color: #0e2236;
}

.team-slide .team-detail-background {
    font-family: OpenSans-Bold;
    font-size: 13px;
    color: #0e2236;
    margin-bottom: 14px;
}

.team-slide .team-detail-content p {
    font-family: "Open Sans";
    font-size: 13px;
    color: #5e5e5e;
    line-height: 2;
}

.page04-row-02-slides>.slick-prev:before
{
    content: url("../images/portfolio_pre_slide_btn.png");
}
[dir='rtl'] .page04-row-02-slides>.slick-prev:before
{
    content: url("../images/portfolio_nex_slide_btn.png");
}
.page04-row-02-slides>.slick-next:before
{
    content: url("../images/portfolio_nex_slide_btn.png");
}
[dir='rtl'] .page04-row-02-slides>.slick-next:before
{
    content: url("../images/portfolio_pre_slide_btn.png");
}

.modal-team {
    top: 100px;
    height: 480px;
    overflow: scroll;
}