/*
Theme Name: revel
Description: Dedicated Wordpress theme for Company Name
*/
/* line 176, wp-content/themes/revel/images/icons/*.png */
.icons-sprite, .icons-back_to_top, .back-to-top:before, .icons-contact, .contact-page .contact-form h3:before, .icons-crunchbase, .icons-facebook, .icons-hamburger, .menu-hamburger:after, .icons-linkedin, .icons-location_marker, .contact-page .location h3:before, .icons-portfolio_slider_left, .description-slider .bx-controls-direction .bx-prev:before, .icons-portfolio_slider_right, .description-slider .bx-controls-direction .bx-next:before, .icons-slider_active, section.slider .bx-pager .bx-pager-link.active, .icons-slider_arrow_left, section.slider .bx-controls-direction .bx-prev, .icons-slider_arrow_right, section.slider .bx-controls-direction .bx-next, .icons-slider_dot, section.slider .bx-pager .bx-pager-link, .icons-team_linkedin, .team-page .team-members .linkedin, .icons-triangle, .portfolio-page .portfolio-grid .portfolio-element .portfolio-badge, .icons-twitter, .icons-x, .left-menu-push .close-menu, .description-slider .close-slider {
  background-image: url('../../../wp-content/themes/revel/images/icons-sf1397e9d6c.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-back_to_top, .back-to-top:before {
  background-position: 0 0;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-contact, .contact-page .contact-form h3:before {
  background-position: 0 -9px;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-crunchbase {
  background-position: 0 -33px;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-facebook {
  background-position: 0 -53px;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-hamburger, .menu-hamburger:after {
  background-position: 0 -73px;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-linkedin {
  background-position: 0 -85px;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-location_marker, .contact-page .location h3:before {
  background-position: 0 -105px;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-portfolio_slider_left, .description-slider .bx-controls-direction .bx-prev:before {
  background-position: 0 -138px;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-portfolio_slider_right, .description-slider .bx-controls-direction .bx-next:before {
  background-position: 0 -158px;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-slider_active, section.slider .bx-pager .bx-pager-link.active {
  background-position: 0 -178px;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-slider_arrow_left, section.slider .bx-controls-direction .bx-prev {
  background-position: 0 -189px;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-slider_arrow_right, section.slider .bx-controls-direction .bx-next {
  background-position: 0 -219px;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-slider_dot, section.slider .bx-pager .bx-pager-link {
  background-position: 0 -249px;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-team_linkedin, .team-page .team-members .linkedin {
  background-position: 0 -257px;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-triangle, .portfolio-page .portfolio-grid .portfolio-element .portfolio-badge {
  background-position: 0 -281px;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-twitter {
  background-position: 0 -349px;
}

/* line 84, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-x, .left-menu-push .close-menu, .description-slider .close-slider {
  background-position: 0 -369px;
}

/* ==========================================================================
	Variables
/* ========================================================================== */
/* Colors */
/* Font Sizes */
/* Layout */
/* Content Images */
/* Sidebar */
/* Fallbacks / browser support */
/* ==========================================================================
	Media queries
/* ========================================================================== */
/* Default bootstrap breakpoints */
/* Custom breakpoints */
/* ==========================================================================
	Images
/* ========================================================================== */
/* Uncomment when using sprites: */
/* Uncomment when using sprites for retina images: */
/* Uncomment when using sprites fallback for IE8: */
/* Project supports: */
/* Paths: */
/* line 18, ../../../../source/wp-content/themes/revel/css/_mixins.scss */
.ie8 .menu-hamburger, .ie8 .back-to-top {
  behavior: url("pie/PIE.htc");
}

/**
 *  USAGE
 *  $image: file name WITH extension (even when using sprites)
 *  $bg-size: explicitly applied background size for svg images
 *
 *  Example:
 *  @include bgi('icon.png');
 *
 *  The mixin applies:
 *   - background from sprite, if project supports sprites, regular image otherwise
 *   - retina image in media query, if project supports retina, it will be a retina sprite, if project additionally
 *     supports sprites
 *   - IF background is in SVG format AND project supports IE8, mixin will apply fallback: regular png image,
 *     or a sprite fallback, depending on settings.scss
 */
/**
 *  USAGE
 *  Applies sprite of a given name, even in media query. Simplest case:
 *  @include sprite(icon);
 *
 *  By default it uses a sprite map set in settings.scss, but can be overriden (second parameter).
 *  E.g. if we have 'icons' sprites folder, we can use:
 *  @include sprite(my-icon, $icons-sprites);
 *
 *  If project support retina, then by defualt this mixin will also add retina sprite.
 *  This behavior can be disabled:
 *  @include sprite(icon, $sprites-sprites, false);
 *  Also, the retina sprite used by default (the one from settings.scss) can be overriden
 *  by the third parameter (e.g. if we wanna use sprites from folder 'retina-icons'):
 *  @include sprite(icon, $sprites-sprites, true, $retina-icons-sprites);
 */
/**
 *  USAGE:
 *
 *  First parameter is a collection of colors or color stops. So either of those will work:
 *  @include gradient((#abc123, #123abc));
 *  @include gradient((#abc123 0%, #123abc 75%));
 *  @include gradient((#abc123, #123abc, #123123));
 *  @include gradient((#abc123, #123abc), vertical);
 *
 *  Radial gradients are a special case. Line below is fine:
 *  @include gradient((#abc123, #123abc), radial);
 *  However, you can also pass a collection as a type parameter to customize it a bit. Defaults are:
 *  @include gradient((#abc123, #123abc), (radial, cover, ellipse, center));
 *  The first element of the collection can actually be anything, doesn't have to be 'radial'.
 *  Second element is background-size (cover, contain, 100px, 50%, etc.), third is shape
 *  (can be either ellipse or circle), and last is background-position (center, top left, bottom right, etc.).
 *  Example:
 *  @include gradient((#abc123, #123abc), (radial, cover, circle, left top));
 *  Please note that some parameter combinations (e.g. left top position and size contain) don't work.
 *
 *  Please note that collection requires parentheses. So a collection '(...)' passed as a parameter
 *  is double parentheses: '((...))'.
 *
 *  Second parameter is a type of gradient. Allowed values are the expected:
 *  vertical, horizontal, radial
 *  But there can also be diagonal, in two versions:
 *  1. Going from left top to bottom right corner, any of those is valid:
 *     diagonal, diagonal1, diagonal-left-top, diagonal-top-left, diagonal-lt, diagonal-tl, left-top, top-left
 *  2. Going from left bottom to top right corner, any of those:
 *     diagonal2, diagonal-left-bottom, diagonal-bottom-left, diagonal-lb, diagonal-bl, left-bottom, bottom-left
 *
 *  Plase note that older IEs support only vertical and horizontal gradients.
 *
 *  Finally the third parameter tells how the gradient is rendered on IE8. There are two options:
 *  filter - uses native IE filters, means that transparency (rgba values) will work, but border-radius
 *           (even with pie) will be completely ignored
 *  pie - uses PIE to render the gradient, will work fine with border-radius, but transparency (rgba values)
 *        will not work
 */
/* ==========================================================================
	Base
/* ========================================================================== */
/* line 5, ../../../../source/wp-content/themes/revel/css/_global.scss */
html {
  height: auto;
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}

/* line 14, ../../../../source/wp-content/themes/revel/css/_global.scss */
html,
button,
input,
select,
textarea {
  color: #444;
}

/* line 21, ../../../../source/wp-content/themes/revel/css/_global.scss */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.4;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
}

/* line 33, ../../../../source/wp-content/themes/revel/css/_global.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 40, ../../../../source/wp-content/themes/revel/css/_global.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* line 46, ../../../../source/wp-content/themes/revel/css/_global.scss */
.gm-style img {
  max-width: none;
}

/* ==========================================================================
	Links
/* ========================================================================== */
/* line 54, ../../../../source/wp-content/themes/revel/css/_global.scss */
a {
  color: #26527c;
  text-decoration: underline;
}
/* line 57, ../../../../source/wp-content/themes/revel/css/_global.scss */
a img {
  border: 0;
}

/* line 61, ../../../../source/wp-content/themes/revel/css/_global.scss */
a:focus,
a:hover {
  color: #08111a;
}

/* line 65, ../../../../source/wp-content/themes/revel/css/_global.scss */
a:focus {
  outline: 0;
}

/* line 68, ../../../../source/wp-content/themes/revel/css/_global.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
	Typography
/* ========================================================================== */
/* Headers */
/* line 79, ../../../../source/wp-content/themes/revel/css/_global.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em;
  line-height: 1.5em;
}

/* line 83, ../../../../source/wp-content/themes/revel/css/_global.scss */
h1 {
  font-size: 2em;
}

/* line 86, ../../../../source/wp-content/themes/revel/css/_global.scss */
h2 {
  color: #0e2032;
  font-size: 31px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0 0 40px -1px;
}
/* line 93, ../../../../source/wp-content/themes/revel/css/_global.scss */
h2.section-title {
  position: relative;
}
/* line 95, ../../../../source/wp-content/themes/revel/css/_global.scss */
h2.section-title:after {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background: #c77777;
  top: 100%;
  left: 1px;
  margin-top: 12px;
}

/* line 109, ../../../../source/wp-content/themes/revel/css/_global.scss */
h3 {
  font-size: 1.3em;
}

/* line 112, ../../../../source/wp-content/themes/revel/css/_global.scss */
h4 {
  color: #77b7c7;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0 0 0;
}

/* line 120, ../../../../source/wp-content/themes/revel/css/_global.scss */
h5, h6 {
  font-size: 1.1em;
}

/* Content Block Elements */
/* line 126, ../../../../source/wp-content/themes/revel/css/_global.scss */
dl,
menu,
ol,
ul,
p,
pre {
  margin: 0 0 1em;
}

/* Paragraphs */
/* Lists */
/* line 143, ../../../../source/wp-content/themes/revel/css/_global.scss */
menu,
ol,
ul {
  padding: 0 0 0 2em;
}

/* Selection Colors */
/* line 151, ../../../../source/wp-content/themes/revel/css/_global.scss */
::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

/* line 156, ../../../../source/wp-content/themes/revel/css/_global.scss */
::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

/* =============================================================================
	Helper Classes
/* ========================================================================== */
/* Prefixed with tags to override default tag styling for these elemets if .button is added */
/* line 168, ../../../../source/wp-content/themes/revel/css/_global.scss */
button,
.button,
a.button,
input.button {
  display: inline-block;
}

/* Responsive Media Styles */
/* line 196, ../../../../source/wp-content/themes/revel/css/_global.scss */
.media img,
.media video,
.media object,
.media iframe {
  width: 100%;
  height: auto;
}

/* Clear Fix */
/* line 9, ../../../../source/wp-content/themes/revel/css/_mixins.scss */
.clearfix:after,
.cf:after {
  content: '';
  display: table;
  clear: both;
}

/* Floats */
/* line 213, ../../../../source/wp-content/themes/revel/css/_global.scss */
.floatleft,
.fl {
  float: left;
}

/* line 217, ../../../../source/wp-content/themes/revel/css/_global.scss */
.floatright,
.fr {
  float: right;
}

/* line 221, ../../../../source/wp-content/themes/revel/css/_global.scss */
.alignleft {
  float: left;
  margin: 0 20px 20px 0;
}

/* line 225, ../../../../source/wp-content/themes/revel/css/_global.scss */
.alignright {
  float: right;
  margin: 0 0 20px 20px;
}

/* line 230, ../../../../source/wp-content/themes/revel/css/_global.scss */
.alignnone {
  display: inline-block;
}

/* line 233, ../../../../source/wp-content/themes/revel/css/_global.scss */
.aligncenter {
  display: block;
  float: none;
  text-align: center;
  clear: both;
  margin: 20px auto;
}

/* =============================================================================
	Structural Styles, Media Queries & Page Styling
/* ========================================================================== */
/* line 248, ../../../../source/wp-content/themes/revel/css/_global.scss */
header.main {
  background: whitesmoke;
  height: 100px;
}

/* line 252, ../../../../source/wp-content/themes/revel/css/_global.scss */
footer.main {
  background: whitesmoke;
  height: 100px;
}

/* line 257, ../../../../source/wp-content/themes/revel/css/_global.scss */
main {
  float: left;
  width: 60%;
}
/* line 260, ../../../../source/wp-content/themes/revel/css/_global.scss */
.error404 main {
  text-align: center;
}
/* line 262, ../../../../source/wp-content/themes/revel/css/_global.scss */
.error404 main ul {
  text-align: left;
}

/* line 268, ../../../../source/wp-content/themes/revel/css/_global.scss */
.content {
  padding: 20px 0;
}

/* line 272, ../../../../source/wp-content/themes/revel/css/_global.scss */
.content.full-width,
.full-width {
  float: none;
  width: 100%;
}

/* line 278, ../../../../source/wp-content/themes/revel/css/_global.scss */
.widget-area {
  float: left;
  width: 40%;
  padding: 20px 0;
}

/* line 283, ../../../../source/wp-content/themes/revel/css/_global.scss */
.widget {
  margin-bottom: 20px;
}

/* line 287, ../../../../source/wp-content/themes/revel/css/_global.scss */
.article {
  margin-bottom: 1em;
}

/* Navigation */
/* line 294, ../../../../source/wp-content/themes/revel/css/_global.scss */
nav > ul {
  margin: 0;
  padding: 0;
}
/* line 9, ../../../../source/wp-content/themes/revel/css/_mixins.scss */
nav ul:after {
  content: '';
  display: table;
  clear: both;
}
/* line 300, ../../../../source/wp-content/themes/revel/css/_global.scss */
nav ul li {
  float: left;
  display: block;
  margin-left: 10px;
}
/* line 304, ../../../../source/wp-content/themes/revel/css/_global.scss */
nav ul li:first-child {
  margin-left: 0;
}
/* line 307, ../../../../source/wp-content/themes/revel/css/_global.scss */
nav ul li .sub-menu {
  display: none;
}
/* line 311, ../../../../source/wp-content/themes/revel/css/_global.scss */
nav ul li:hover > ul {
  display: block;
}

/* Paginations */
/* line 322, ../../../../source/wp-content/themes/revel/css/_global.scss */
.navigation.pagination {
  clear: both;
}

/* =============================================================================
	Layout
/* ========================================================================== */
/* PARALLAX */
/* line 23, ../../../../source/wp-content/themes/revel/style.scss */
section {
  background: #fff;
}

/* line 27, ../../../../source/wp-content/themes/revel/style.scss */
.parallax {
  position: relative;
  padding: 0;
  overflow: hidden;
  height: 600px;
  background-size: cover;
  background-attachment: fixed;
  	/* .bg-image{
  		background-size: cover;
  		position: fixed;
  		width: 100%;
  		height: 100%;
    	top: 0;
  	} */
}
/* line 39, ../../../../source/wp-content/themes/revel/style.scss */
.parallax .clipper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* .portfolio-page{
	.container-fluid::before, .container-fluid::after{
		display: none;
	}
} */
/* line 63, ../../../../source/wp-content/themes/revel/style.scss */
.parallax-wrapper {
  /* &::before{
  	display: none;
  } */
}

/* line 72, ../../../../source/wp-content/themes/revel/style.scss */
.left-menu-push {
  width: 295px;
  height: 100%;
  position: absolute;
  top: 100%;
  left: -295px;
  z-index: 999999;
  text-align: center;
  background: #0e2236;
  padding-top: 43px;
  -webkit-transition: left ease 0.3s;
  -moz-transition: left ease 0.3s;
  -o-transition: left ease 0.3s;
  transition: left ease 0.3s;
}
/* line 83, ../../../../source/wp-content/themes/revel/style.scss */
.left-menu-push.active {
  left: 0;
}
/* line 86, ../../../../source/wp-content/themes/revel/style.scss */
.left-menu-push.fixed {
  position: fixed;
  top: 0;
}
/* line 90, ../../../../source/wp-content/themes/revel/style.scss */
.left-menu-push .close-menu {
  display: block;
  position: absolute;
  right: 18px;
  top: 17px;
  width: 13px;
  height: 12px;
}
/* line 99, ../../../../source/wp-content/themes/revel/style.scss */
.left-menu-push a {
  font-weight: 700;
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
    margin-left: 20px;
}
/* line 106, ../../../../source/wp-content/themes/revel/style.scss */
.left-menu-push a:hover {
  color: #98e6ff;
}
/* line 110, ../../../../source/wp-content/themes/revel/style.scss */
.left-menu-push ul {
  border-right: 2px solid #bec2c5;
  margin: 0 36px 52px 0;
  padding-bottom: 132px;
  text-align: right;
}
/* line 115, ../../../../source/wp-content/themes/revel/style.scss */
.left-menu-push ul li {
  display: block;
  float: none;
  margin: 28px 30px 29px 0;
  letter-spacing: 0.5px;
}
/* line 122, ../../../../source/wp-content/themes/revel/style.scss */
.left-menu-push .menu-walker {
  display: block;
  width: 3px;
  height: 38px;
  background-color: #77b7c7;
  position: absolute;
  right: 36px;
  margin-top: 24px;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

/* line 134, ../../../../source/wp-content/themes/revel/style.scss */
.sub-sections {
  z-index: 99999;
  background: #fff;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  overflow-x: hidden;
}
/* line 141, ../../../../source/wp-content/themes/revel/style.scss */
.sub-sections.pushed-to-right {
  margin-left: 295px;
}
/* line 143, ../../../../source/wp-content/themes/revel/style.scss */
.sub-sections.pushed-to-right .container {
  max-width: 100%;
}

/* line 150, ../../../../source/wp-content/themes/revel/style.scss */
.menu-hamburger {
  display: block;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 27px;
  top: 20px;
  z-index: 0;
}
/* line 160, ../../../../source/wp-content/themes/revel/style.scss */
.menu-hamburger:after {
  content: "";
  display: block;
  width: 20px;
  height: 12px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -6px 0 0 -10px;
}

/* line 173, ../../../../source/wp-content/themes/revel/style.scss */
header.main {
  background: none;
  position: absolute;
  width: 100%;
  z-index: 9999;
}
/* line 179, ../../../../source/wp-content/themes/revel/style.scss */
header.main .logo {
  display: block;
  float: left;
  margin: 43px 0 0 30px;
}
/* line 185, ../../../../source/wp-content/themes/revel/style.scss */
header.main ul.social {
  float: right;
  list-style: none;
  margin: 54px 42px 0 0;
  padding: 0;
}
/* line 190, ../../../../source/wp-content/themes/revel/style.scss */
header.main ul.social li {
  float: left;
  margin: 0 0 0 15px;
}
/* line 194, ../../../../source/wp-content/themes/revel/style.scss */
header.main ul.social a {
  text-indent: -99999px;
  display: block;
  width: 19px;
  height: 20px;
}
/* line 199, ../../../../source/wp-content/themes/revel/style.scss */
header.main ul.social a.icons-crunchbase {
  width: 25px;
}
/* line 205, ../../../../source/wp-content/themes/revel/style.scss */
header.main nav {
  float: right;
  margin: 52px 9px 0 0;
}
/* line 208, ../../../../source/wp-content/themes/revel/style.scss */
header.main nav li {
  margin: 0 0 0 38px;
}
/* line 211, ../../../../source/wp-content/themes/revel/style.scss */
header.main nav a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
/* line 219, ../../../../source/wp-content/themes/revel/style.scss */
header.main nav a:hover {
  color: #98e6ff;
}

/* line 226, ../../../../source/wp-content/themes/revel/style.scss */
.back-to-top {
  position: fixed;
  bottom: 1.5%;
  right: 50px;
  display: block;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  background-color: #77b7c7;
  z-index: 999999;
}
/* line 237, ../../../../source/wp-content/themes/revel/style.scss */
.back-to-top:before {
  content: "";
  display: block;
  height: 9px;
  left: 50%;
  margin: -3px 0 0 -8px;
  position: absolute;
  top: 50%;
  width: 15px;
}
/* line 248, ../../../../source/wp-content/themes/revel/style.scss */
.back-to-top.active {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 253, ../../../../source/wp-content/themes/revel/style.scss */
section.slider {
  position: relative;
  padding-bottom: 2%;
  z-index: 5;
  background-color: #fff;
}
/* line 258, ../../../../source/wp-content/themes/revel/style.scss */
section.slider .bx-wrapper, section.slider .bx-viewport {
  height: 100% !important;
}
/* line 261, ../../../../source/wp-content/themes/revel/style.scss */
section.slider .main-bxslider {
  height: 100%;
}
/* line 263, ../../../../source/wp-content/themes/revel/style.scss */
section.slider .main-bxslider li {
  color: #fff;
  text-align: center;
  height: 100%;
  display: block;
  background-size: cover;
  background-position: center;
}
/* line 271, ../../../../source/wp-content/themes/revel/style.scss */
section.slider .main-bxslider .table-element {
  display: table;
  width: 100%;
  height: 100%;
}
/* line 276, ../../../../source/wp-content/themes/revel/style.scss */
section.slider .main-bxslider .cell-element {
  display: table-cell;
  vertical-align: middle;
}
/* line 280, ../../../../source/wp-content/themes/revel/style.scss */
section.slider .main-bxslider h3 {
  font-weight: 400;
  font-size: 21px;
  text-transform: uppercase;
  margin: 0 0 42px;
  letter-spacing: 6.5px;
  opacity: 0;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s;
}
/* line 290, ../../../../source/wp-content/themes/revel/style.scss */
section.slider .main-bxslider h2 {
  font-weight: 300;
  font-size: 42px;
  margin: 32px 0  0;
  letter-spacing: 2px;
  text-transform: none;
  color: #fff;
}
/* line 298, ../../../../source/wp-content/themes/revel/style.scss */
section.slider .main-bxslider h2:after {
  display: none;
}
/* line 303, ../../../../source/wp-content/themes/revel/style.scss */
section.slider .bx-controls-direction {
  position: absolute;
  top: 47.4%;
  width: 100%;
}
/* line 307, ../../../../source/wp-content/themes/revel/style.scss */
section.slider .bx-controls-direction a {
  width: 17px;
  height: 30px;
  text-indent: -99999px;
  display: block;
}
/* line 313, ../../../../source/wp-content/themes/revel/style.scss */
section.slider .bx-controls-direction .bx-prev {
  float: left;
  margin-left: 40px;
}
/* line 318, ../../../../source/wp-content/themes/revel/style.scss */
section.slider .bx-controls-direction .bx-next {
  float: right;
  margin-right: 46px;
}
/* line 324, ../../../../source/wp-content/themes/revel/style.scss */
section.slider .bx-pager {
  bottom: 64px;
  position: absolute;
  text-align: center;
  width: 100%;
}
/* line 329, ../../../../source/wp-content/themes/revel/style.scss */
section.slider .bx-pager .bx-pager-item {
  display: inline-block;
}
/* line 332, ../../../../source/wp-content/themes/revel/style.scss */
section.slider .bx-pager .bx-pager-link {
  display: block;
  text-indent: -99999px;
  width: 8px;
  height: 8px;
  margin: 0 7px 0 0;
  line-height: 11px;
}
/* line 340, ../../../../source/wp-content/themes/revel/style.scss */
section.slider .bx-pager .bx-pager-link.active {
  width: 11px;
  height: 11px;
  line-height: 14px;
}

/* line 350, ../../../../source/wp-content/themes/revel/style.scss */
.about-page {
  margin-bottom: 40px;
}
/* line 352, ../../../../source/wp-content/themes/revel/style.scss */
.about-page h3.sub-sub-title {
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0 0 50px;
  position: relative;
}
/* line 360, ../../../../source/wp-content/themes/revel/style.scss */
.about-page h3.sub-sub-title::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background: #C77777 none repeat scroll 0% 0%;
  top: 100%;
  left: 1px;
  margin-top: 12px;
}
/* line 371, ../../../../source/wp-content/themes/revel/style.scss */
.about-page h2.section-title.has-sub-sub {
  margin: 0;
}
/* line 373, ../../../../source/wp-content/themes/revel/style.scss */
.about-page h2.section-title.has-sub-sub::after {
  margin-top: 33px;
  display: none;
}
/* line 378, ../../../../source/wp-content/themes/revel/style.scss */
.about-page .container-fluid {
  height: 100%;
  padding: 0;
}
/* line 382, ../../../../source/wp-content/themes/revel/style.scss */
.about-page .about-bg {
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 3px;
  position: relative;
  padding: 63px 0;
}
/* line 395, ../../../../source/wp-content/themes/revel/style.scss */
.about-page .about-bg .about-page-parallax {
  position: absolute;
  z-index: 0;
  width: 100%;
  left: 0;
  right: 0;
  background-size: cover;
}
/* line 404, ../../../../source/wp-content/themes/revel/style.scss */
.about-page .about-bg h3 {
  text-align: center;
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}
/* line 412, ../../../../source/wp-content/themes/revel/style.scss */
.about-page .about-bg p {
  padding: 0 10px 0;
}
/* line 415, ../../../../source/wp-content/themes/revel/style.scss */
.about-page .about-bg .number {
  font-weight: 300;
  font-size: 48px;
}
/* line 422, ../../../../source/wp-content/themes/revel/style.scss */
.about-page .about-bg .counter {
  margin: 30px 0 20px;
  position: relative;
  z-index: 9;
}
/* line 428, ../../../../source/wp-content/themes/revel/style.scss */
.about-page .about-content {
  height: 100%;
  padding: 100px 0 100px 90px;
}
/* line 431, ../../../../source/wp-content/themes/revel/style.scss */
.about-page .about-content p {
  color: #5f5f5f;
  font-size: 1em;
  font-weight: 400;
  line-height: 29px;
}

/* line 441, ../../../../source/wp-content/themes/revel/style.scss */
.portfolio-page .portfolio-intro {
  /* height: 636px; */
  height: 318px;
}
/* line 444, ../../../../source/wp-content/themes/revel/style.scss */
.portfolio-page .portfolio-intro .bottom-text {
  bottom: 10px;
}
/* line 448, ../../../../source/wp-content/themes/revel/style.scss */
.portfolio-page .filters {
  padding: 119px 14px 111px;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s;
}
/* line 451, ../../../../source/wp-content/themes/revel/style.scss */
.portfolio-page .filters h5 {
  font-size: 13px;
  font-weight: 700;
  color: #c77777;
  float: left;
  text-transform: uppercase;
}
/* line 458, ../../../../source/wp-content/themes/revel/style.scss */
.portfolio-page .filters ul {
  list-style: none;
  float: left;
  padding: 0 0 0 34px;
}
/* line 462, ../../../../source/wp-content/themes/revel/style.scss */
.portfolio-page .filters ul li {
  float: left;
  line-height: 18px;
  margin: 0 60px 0 0;
  letter-spacing: 2px;
}
/* line 469, ../../../../source/wp-content/themes/revel/style.scss */
.portfolio-page .filters a {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  color: #696767;
  text-decoration: none;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
/* line 476, ../../../../source/wp-content/themes/revel/style.scss */
.portfolio-page .filters a.active {
  color: #86c0ce;
}
/* line 480, ../../../../source/wp-content/themes/revel/style.scss */
.portfolio-page .filters.slider-open {
  padding: 57px 14px 46px;
}
/* line 485, ../../../../source/wp-content/themes/revel/style.scss */
.portfolio-page .portfolio-grid .portfolio-element {
  padding: 0 15px 0 10px;
  margin-bottom: 76px;
}
/* line 488, ../../../../source/wp-content/themes/revel/style.scss */
.portfolio-page .portfolio-grid .portfolio-element .portfolio-badge {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 130px;
  height: 68px;
  position: absolute;
  z-index: 8;
  right: -41px;
  top: -10px;
  color: #fff;
  font-weight: 700;
  font-size: 9px;
  text-transform: uppercase;
  overflow: hidden;
  text-align: center;
  padding: 33px 38px 0;
}
/* line 505, ../../../../source/wp-content/themes/revel/style.scss */
.portfolio-page .portfolio-grid .portfolio-element .hidden {
  display: none;
}
/* line 508, ../../../../source/wp-content/themes/revel/style.scss */
.portfolio-page .portfolio-grid .portfolio-element .content {
  display: block;
  background-size: cover;
  height: 221px;
  text-align: center;
  position: relative;
  z-index: 8;
}
/* line 516, ../../../../source/wp-content/themes/revel/style.scss */
.portfolio-page .portfolio-grid .portfolio-element .content:before {
  width: 60px;
  height: 100%;
  background-image: url("images/portfolio-left.png");
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  z-index: 7;
  left: 0;
  top: 0;
}
/* line 527, ../../../../source/wp-content/themes/revel/style.scss */
.portfolio-page .portfolio-grid .portfolio-element .content:after {
  width: 60px;
  height: 100%;
  background-image: url("images/portfolio-right.png");
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  z-index: 7;
  right: 0;
  top: 0;
}

/* line 543, ../../../../source/wp-content/themes/revel/style.scss */
.description-slider {
  border-bottom: 1px solid #d5d4d4;
  background: #f3f3f3;
  color: #5f5f5f;
  font-weight: 400;
  font-size: 14px;
  padding: 53px 0 83px;
  position: relative;
  opacity: 0.99;
}
/* line 552, ../../../../source/wp-content/themes/revel/style.scss */
.description-slider .portfolio-slider-ul {
  margin: 0;
  padding: 0;
  width: 100%;
}
/* line 557, ../../../../source/wp-content/themes/revel/style.scss */
.description-slider .portfolio-slider-ul.prototype {
  display: none;
}
/* line 561, ../../../../source/wp-content/themes/revel/style.scss */
.description-slider .portfolio-slider-ul .item {
  font-size: 13px;
  float: left;
  margin: 0 13px 14px 0;
  text-transform: uppercase;
}
/* line 566, ../../../../source/wp-content/themes/revel/style.scss */
.description-slider .portfolio-slider-ul .item strong {
  font-weight: 700;
  color: #0e2236;
}
/* line 570, ../../../../source/wp-content/themes/revel/style.scss */
.description-slider .portfolio-slider-ul .item a {
  color: #5f5f5f;
  text-decoration: none;
}
/* line 575, ../../../../source/wp-content/themes/revel/style.scss */
.description-slider .portfolio-slider-ul .content {
  clear: both;
  line-height: 29px;
}
/* line 579, ../../../../source/wp-content/themes/revel/style.scss */
.description-slider .portfolio-slider-ul .image {
  text-align: center;
  height: 366px;
  margin-left: 12.8%;
  margin-right: 3.7%;
}
/* line 585, ../../../../source/wp-content/themes/revel/style.scss */
.description-slider .portfolio-slider-ul .descritpion {
  padding: 50px 4px 0;
  width: 45.767%;
}
/* line 590, ../../../../source/wp-content/themes/revel/style.scss */
.description-slider .bx-controls-direction {
  position: absolute;
  top: 47%;
  width: 100%;
}
/* line 594, ../../../../source/wp-content/themes/revel/style.scss */
.description-slider .bx-controls-direction a {
  display: block;
  float: left;
  font-weight: 400;
  font-size: 13px;
  color: #0e2236;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s;
}
/* line 603, ../../../../source/wp-content/themes/revel/style.scss */
.description-slider .bx-controls-direction a:before {
  content: "";
  display: block;
  position: relative;
  float: left;
  width: 11px;
  height: 20px;
}
/* line 612, ../../../../source/wp-content/themes/revel/style.scss */
.description-slider .bx-controls-direction .bx-prev {
  margin: 0 0 0 40px;
}
/* line 614, ../../../../source/wp-content/themes/revel/style.scss */
.description-slider .bx-controls-direction .bx-prev:before {
  margin: 0 17px 0 0;
}
/* line 620, ../../../../source/wp-content/themes/revel/style.scss */
.description-slider .bx-controls-direction .bx-next {
  float: right;
  margin: 0 35px 0 0;
}
/* line 623, ../../../../source/wp-content/themes/revel/style.scss */
.description-slider .bx-controls-direction .bx-next:before {
  float: right;
  margin: 0 0 0 21px;
}
/* line 630, ../../../../source/wp-content/themes/revel/style.scss */
.description-slider .close-slider {
  position: absolute;
  /* top: 30px; */
  top: 106px;
  right: 35px;
  display: block;
  width: 13px;
  height: 12px;
  z-index: 1;
}
/* line 643, ../../../../source/wp-content/themes/revel/style.scss */
.description-slider.team-slider .close-slider {
  top: 88px;
}

/* line 642, ../../../../source/wp-content/themes/revel/style.scss */
.section-intro {
  color: #fff;
  z-index: 1;
}
/* line 645, ../../../../source/wp-content/themes/revel/style.scss */
.section-intro .container {
  position: relative;
  height: 100%;
}
/* line 649, ../../../../source/wp-content/themes/revel/style.scss */
.section-intro .bottom-text {
  position: absolute;
  bottom: 59px;
  left: -4px;
}
/* line 653, ../../../../source/wp-content/themes/revel/style.scss */
.section-intro .bottom-text h2 {
  color: #fff;
}
/* line 656, ../../../../source/wp-content/themes/revel/style.scss */
.section-intro .bottom-text p {
  line-height: 29px;
}

/* line 662, ../../../../source/wp-content/themes/revel/style.scss */
.team-page {
  margin: -9px 0 0;
}
/* line 664, ../../../../source/wp-content/themes/revel/style.scss */
.team-page .team-intro {
  height: 495px;
  background-color: black;
}

.team-page .team-intro .clipper {
  background-image: url("images/team/revel1440.jpg");
  z-index: 10;
  background-size: 100% auto;
}
/* line 667, ../../../../source/wp-content/themes/revel/style.scss */
.team-page .team-members {
  margin-top: 86px;
  text-align: center;
}
.team-page .team-intro .bottom-text {
  bottom: 10px;
  z-index: 11;
}
@media (max-width: 768px) {
  .team-page .team-members {
    margin-top: 20px;
  }
}
/* line 670, ../../../../source/wp-content/themes/revel/style.scss */
.team-page .team-members .team-member {
  margin-bottom: 44px;
  position: relative;
}
/* line 674, ../../../../source/wp-content/themes/revel/style.scss */
.team-page .team-members a {
  font-size: 16px;
  color: #0e2236;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 681, ../../../../source/wp-content/themes/revel/style.scss */
.team-page .team-members .image {
  overflow: hidden;
  height: 239px;
  background: #e5e5e6;
  display: block;
}
/* line 686, ../../../../source/wp-content/themes/revel/style.scss */
.team-page .team-members .image img {
  max-width: 100%;
  height: auto;
}
/* line 691, ../../../../source/wp-content/themes/revel/style.scss */
.team-page .team-members .title {
  margin: 13px 0 0 0;
  display: block;
  letter-spacing: 2.5px;
  padding: 0 35px;
}
/* line 697, ../../../../source/wp-content/themes/revel/style.scss */
.team-page .team-members .linkedin {
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 26px;
  bottom: 0px;
}
/* line 707, ../../../../source/wp-content/themes/revel/style.scss */
.team-page .team-slider {
  padding: 0;
}
/* line 710, ../../../../source/wp-content/themes/revel/style.scss */
.team-page .team-slider .team-image {
  height: 724px;
  background-size: cover;
}
/* line 714, ../../../../source/wp-content/themes/revel/style.scss */
.team-page .team-slider h3 {
  font-weight: 300;
  font-size: 42px;
  color: #0e2236;
  margin: 59px 0 0;
  letter-spacing: 3.3px;
}
/* line 721, ../../../../source/wp-content/themes/revel/style.scss */
.team-page .team-slider h5 {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #0e2236;
  margin: 6px 0px 23px 3px;
}
/* line 728, ../../../../source/wp-content/themes/revel/style.scss */
.team-page .team-slider p {
  line-height: 24px;
  padding: 0 80px 10px 2px;
}
/* line 732, ../../../../source/wp-content/themes/revel/style.scss */
.team-page .team-slider .investments {
  margin: 30px 0 0;
}
/* line 734, ../../../../source/wp-content/themes/revel/style.scss */
.team-page .team-slider .investments span {
  padding: 0 19px 0 0;
}

.team-page .team-slider .investments a
{
    font-size: 13px;
    margin: 0 13px 14px 0;
    text-transform: uppercase;
    text-decoration: none;
    color: #5f5f5f;
    white-space: nowrap;
}
/* line 739, ../../../../source/wp-content/themes/revel/style.scss */
.team-page .bx-controls-direction {
  top: 50%;
}

/* line 744, ../../../../source/wp-content/themes/revel/style.scss */
.jobs-page {
  margin: 111px 0 0 0;
}
/* line 746, ../../../../source/wp-content/themes/revel/style.scss */
.jobs-page h2.section-title {
  margin-left: 3px;
  margin-bottom: 35px;
}
/* line 750, ../../../../source/wp-content/themes/revel/style.scss */
.jobs-page .iframe-wrapper {
  margin: 0 -15px;
}

/* line 755, ../../../../source/wp-content/themes/revel/style.scss */
.news-page {
  margin-top: 100px;
}
/* line 757, ../../../../source/wp-content/themes/revel/style.scss */
.news-page .twitter-container {
  padding: 0;
}
/* line 759, ../../../../source/wp-content/themes/revel/style.scss */
.news-page .twitter-container .news-item {
  font-size: 13px;
  font-weight: 600;
  color: #0e2236;
  line-height: 23px;
  margin-bottom: 30px;
}
/* line 766, ../../../../source/wp-content/themes/revel/style.scss */
.news-page .twitter-container .news-item .date {
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  bottom: 10px;
  right: 17px;
  display: block;
  text-align: center;
  background-color: #77B7C7;
  min-width: 38px;
  padding-bottom: 3px;
}
/* line 776, ../../../../source/wp-content/themes/revel/style.scss */
.news-page .twitter-container .news-item .date .number {
  display: block;
  font-size: 20px;
  background-color: #77B7C7;
  padding: 6px 9px 0px 7px;
  letter-spacing: -1px;
  text-align: center;
  margin: 0;
  line-height: 20px;
}
/* line 786, ../../../../source/wp-content/themes/revel/style.scss */
.news-page .twitter-container .news-item .image {
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 7px;
  line-height: initial;
  display: block;
}

/* line 797, ../../../../source/wp-content/themes/revel/style.scss */
.contact-page {
  margin-top: 89px;
}
/* line 799, ../../../../source/wp-content/themes/revel/style.scss */
.contact-page .contact-intro {
  height: 448px;
  margin: 0 0 54px;
}
/* line 802, ../../../../source/wp-content/themes/revel/style.scss */
.contact-page .contact-intro .bottom-text {
  left: -2px;
  padding: 0 65px 0 15px;
}
/* line 805, ../../../../source/wp-content/themes/revel/style.scss */
.contact-page .contact-intro .bottom-text p {
  font-weight: 400;
  font-size: 1em;
}
/* line 811, ../../../../source/wp-content/themes/revel/style.scss */
.contact-page .location {
  font-weight: 400;
  font-size: 14px;
  color: #0e2236;
  margin: 0 0 80px;
  padding: 0 0 0 31px;
}
/* line 817, ../../../../source/wp-content/themes/revel/style.scss */
.contact-page .location h3 {
  font-weight: 700;
  font-size: 13px;
  color: #0e2236;
  text-transform: uppercase;
  margin: 0 0 11px;
  letter-spacing: 2.5px;
}
/* line 825, ../../../../source/wp-content/themes/revel/style.scss */
.contact-page .location h3:before {
  content: "";
  display: block;
  width: 32px;
  height: 33px;
  position: absolute;
  margin: -6px 0 0 -39px;
}
/* line 835, ../../../../source/wp-content/themes/revel/style.scss */
.contact-page .location p {
  line-height: 29px;
}
/* line 839, ../../../../source/wp-content/themes/revel/style.scss */
.contact-page .contact-form {
  position: relative;
}
/* line 841, ../../../../source/wp-content/themes/revel/style.scss */
.contact-page .contact-form h3 {
  font-weight: 700;
  font-size: 13px;
  color: #0e2236;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  padding: 0 0 0 40px;
  margin-bottom: 26px;
}
/* line 849, ../../../../source/wp-content/themes/revel/style.scss */
.contact-page .contact-form h3:before {
  content: "";
  display: block;
  width: 27px;
  height: 24px;
  position: absolute;
  margin: -3px 0 0 -41px;
}
/* line 859, ../../../../source/wp-content/themes/revel/style.scss */
.contact-page .contact-form input, .contact-page .contact-form textarea {
  -webkit-appearance: none;
  width: 100%;
  border: 1px solid #d1d1d1;
  font-weight: 400;
  font-size: 14px;
  color: #797979;
  padding: 10px 16px 7px;
  margin: 0 0 0 -2px;
  letter-spacing: 0.5px;
  width: 100%;
}
/* line 614, ../../../../source/wp-content/themes/revel/css/_mixins.scss */
.contact-page .contact-form input ::-webkit-input-placeholder, .contact-page .contact-form textarea ::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #797979;
  opacity: 1;
}
/* line 618, ../../../../source/wp-content/themes/revel/css/_mixins.scss */
.contact-page .contact-form input :-moz-placeholder, .contact-page .contact-form textarea :-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #797979;
  opacity: 1;
}
/* line 622, ../../../../source/wp-content/themes/revel/css/_mixins.scss */
.contact-page .contact-form input ::-moz-placeholder, .contact-page .contact-form textarea ::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #797979;
  opacity: 1;
}
/* line 626, ../../../../source/wp-content/themes/revel/css/_mixins.scss */
.contact-page .contact-form input :-ms-input-placeholder, .contact-page .contact-form textarea :-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #797979;
  opacity: 1;
}
/* line 876, ../../../../source/wp-content/themes/revel/style.scss */
.contact-page .contact-form input[type="submit"], .contact-page .contact-form textarea[type="submit"] {
  font-weight: 600;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  background: #16293c;
  border: none;
  font-family: 'Open Sans', sans-serif;
  /* position: absolute; */
  left: 100%;
  bottom: 44px;
  width: auto;
  padding: 10px 18px;
  letter-spacing: 2.5px;
  width: 50%;
}
/* line 895, ../../../../source/wp-content/themes/revel/style.scss */
.contact-page .contact-form textarea {
  resize: none;
  height: 226px;
}
/* line 899, ../../../../source/wp-content/themes/revel/style.scss */
.contact-page .contact-form p {
  margin: 0 0 10px 0;
}
/* line 902, ../../../../source/wp-content/themes/revel/style.scss */
.contact-page .contact-form div.wpcf7-response-output {
  width: 66%;
  margin: -31px 0 30px -2px;
}
@media all and (max-width: 1440px){
    .team-page .team-intro .clipper {
        background-image: url("images/team/revel1200.jpg");
    }
}
@media all and (max-width: 1199px) {
  /* line 2, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  header.main nav {
    position: absolute;
    right: 45px;
  }

  /* line 6, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  header.main ul.social {
    margin: 90px 42px 0 0;
  }

  /* line 9, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  section.slider {
    padding-bottom: 3.5%;
  }

  /* line 12, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  .team-page .team-members .image {
    height: 195px;
  }

  /* line 15, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  .portfolio-page .filters {
    padding: 40px 14px 40px;
  }

  /* line 18, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  .portfolio-page .filters h5 {
    float: none;
  }

  /* line 21, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  .portfolio-page .filters ul {
    padding: 0px;
    width: 100%;
    text-align: center;
  }
  /* line 25, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  .portfolio-page .filters ul li {
    margin: 0 23px 0 0;
    float: none;
    display: inline-block;
  }

  /* line 31, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  .description-slider .portfolio-slider-ul .descritpion {
    width: 38%;
  }

  /* line 34, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  .team-page .team-slider .team-image {
    height: 600px;
    background-position: center;
  }

  /* line 38, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  .description-slider .bx-controls-direction .bx-prev {
    margin: 0px 0px 0px 18px;
  }

  /* line 41, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  .team-page .bx-controls-direction {
    top: 55%;
  }

  /* line 44, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  .team-page .team-slider .investments {
    margin: 30px 0 30px;
  }

  /* line 47, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  .contact-page .contact-form input[type="submit"] {
    position: static;
    margin: 0 0 40px -2px;
  }

  /* line 51, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  .sub-sections.pushed-to-right {
    margin: 0;
  }
}
@media all and (max-width: 991px) {
  /* line 57, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  header.main ul.social {
    margin: 50px 42px 0 0;
  }

  /* line 60, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  header.main nav {
    position: relative;
    margin: 20px 0 0;
    width: 100%;
    text-align: center;
  }

  /* line 66, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  header.main nav li {
    float: none;
    display: inline-block;
  }

  /* line 73, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  .about-page .about-content {
    margin: 40px 0;
    padding: 0 20px;
  }

  /* line 77, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  .contact-page .contact-form {
    clear: both;
  }

  /* line 80, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  .contact-page .location {
    float: left;
    width: 50%;
  }

  /* line 84, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  .description-slider .portfolio-slider-ul .image {
    width: 100%;
    margin: 0;
    height: auto;
  }

  /* line 89, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  .description-slider .portfolio-slider-ul .descritpion {
    width: 100%;
    padding: 18px 0 0;
  }

  /* line 93, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  .description-slider .bx-controls-direction {
    top: 23%;
  }

  /* line 96, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  .team-page .bx-controls-direction {
    top: 52%;
  }
  
    /* line 99, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  .description-slider .close-slider {
    top: 243px;
  }

  /* line 102, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  .description-slider.team-slider .close-slider {
      top: 325px;
      right: 16px;
  }

    .team-page .team-slider .team-image {
        height: 300px;
        background-position: center;
    }

    .team-page .team-intro .clipper {
        background-image: url("images/team/revel768.jpg");
    }
}
@media all and (max-width: 767px) {
  /* line 102, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  header.main nav {
    display: none;
  }

  /* line 105, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  header.main .logo {
    text-align: center;
    margin: 23px auto 0px;
    display: inline-block;
    float: left;
  }

  /* line 111, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  header.main ul.social {
    margin: calc(23px + 49px/2 - 11px) 0 0;
    float: right;
    text-align: center;
    display: inline-block;
  }
  /* line 115, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  header.main ul.social li {
    margin: 0 5px 0 5px;
    float: none;
    display: inline-block;
  }

  /* line 121, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  section.slider .main-bxslider h3 {
    font-size: 13px;
  }

  /* line 124, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  section.slider .main-bxslider h2 {
    font-size: 22px;
    margin: 16px 0px 42px;
  }

  /* line 128, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  section.slider .bx-controls-direction {
    display: none;
  }

  /* line 131, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  section.slider {
    padding: 0;
  }

  /* line 137, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  .back-to-top {
    right: 10px;
  }

  /* line 140, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  .contact-page .contact-intro .bottom-text {
    left: 0;
    padding: 0 10px;
    bottom: 5px;
  }

  /* line 145, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  .contact-page .contact-intro .bottom-text p {
    font-size: 1em;
    line-height: 29px;
  }

  /* line 149, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  .contact-page .location {
    float: none;
    width: 100%;
    margin: 0 0 40px;
  }

  /* line 154, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  .contact-page .contact-form input[type="submit"] {
    width: 100%;
  }

  /* line 157, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  .portfolio-page .portfolio-grid .portfolio-element {
    margin-bottom: 40px;
  }

  /* line 160, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  .description-slider .portfolio-slider-ul .image {
    margin: 0;
    width: 100%;
    height: 200px;
  }

  /* line 165, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  .description-slider .portfolio-slider-ul .descritpion {
    width: 100%;
    padding: 0 10px;
  }

  /* line 169, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  .description-slider .bx-controls-direction {
    top: 5%;
  }

  /* line 172, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  .description-slider .bx-controls-direction .bx-prev {
    margin: 0 0 0 10px;
  }

  /* line 175, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  .description-slider .bx-controls-direction .bx-next {
    margin: 0 10px 0 0;
  }

  /* line 178, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  .description-slider .bx-controls-direction .bx-prev::before {
    margin: 0 5px 0 0;
  }

  /* line 181, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  .description-slider .bx-controls-direction .bx-next::before {
    margin: 0 0 0 5px;
  }

  /* line 184, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  .team-page .team-slider p {
    padding: 0;
  }
  
  /* line 193, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  .description-slider .close-slider {
    top: 257px;
  }

  /* line 196, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  .section-intro .bottom-text p {
    line-height: 29px;
    font-size: 1em;
  }

  /* line 200, ../../../../source/wp-content/themes/revel/css/_responsive.scss */
  .description-slider .portfolio-slider-ul .item {
    float: none;
  }

    .description-slider.team-slider .close-slider {
        top: 255px;
        right: 16px;
    }

    .team-page .team-slider .team-image {
        height: 240px;
        background-position: center;
    }
    .team-page .team-intro{
        height: 341px;
    }
    .team-page .team-intro .clipper {
        background-image: url("images/team/revel480.jpg");
    }
}

@media all and (max-width:480px) {
    .portfolio-page .portfolio-grid .portfolio-element .content img{
        width: 57%;
    }


    .team-page .team-intro .clipper {
        background-image: url("images/team/revel320.jpg");
    }
}

#poweredByStartUpHire{
    display:none;
}