/* ==========================================================================
	Base
/* ========================================================================== */

html {
	height: auto;
	height: 100%;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	margin: 0;
	padding: 0;
}
html,
button,
input,
select,
textarea {
	font-family: Arial, sans-serif;
	color: $color_body_copy;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: $size_base;
	line-height: 1.4;
	background: #ffffff;
	-webkit-font-smoothing: antialiased; 
}

* {
	&,
	&:before,
	&:after{
		@include box-sizing(border-box);
	}
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.gm-style img {
	max-width: none;
}
  
/* ==========================================================================
	Links
/* ========================================================================== */

a {
	color: $color_link;
	text-decoration: underline;
	img {
		border: 0;
	}
}
a:focus,
a:hover {
	color: darken($color_link, 25%);
}
a:focus {
	outline: 0;
}
a:active,
a:hover {
	outline: 0;
}

/* ==========================================================================
	Typography
/* ========================================================================== */

/* Headers */

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 $size_base;
	line-height: $size_base * 1.5;
}
h1 {
	font-size: $size_base * 2;
}
h2 {
	font-size: $size_base * 1.5;
}
h3 {
	font-size: $size_base * 1.3;
}
h4 {
	font-size: $size_base * 1.3;
	font-weight: normal;
}
h5, h6 {
	font-size: $size_base * 1.1;
}

/* Content Block Elements */

dl,
menu,
ol,
ul,
p,
pre {
	margin: 0 0 $size_base;
}

/* Paragraphs */

p {

}

/* Lists */

menu,
ol,
ul {
	padding: 0 0 0 $size_base * 2;
}

/* Selection Colors */

::-moz-selection {
	background: $color_body_copy;
	color: $color_opposite;
	text-shadow: none;
}
::selection {
	background: $color_body_copy;
	color: $color_opposite;
	text-shadow: none;
}

/* =============================================================================
	Helper Classes
/* ========================================================================== */

/* Prefixed with tags to override default tag styling for these elemets if .button is added */

button,
.button,
a.button,
input.button {
	display: inline-block;
}
button:focus,
.button:focus,
a.button:focus,
input.button:focus,
button:hover,
.button:hover,
a.button:hover,
input.button:hover {

}
button:active,
.button:active,
a.button:active,
input.button:active {

}

/* Responsive Media Styles */

.media {
	
}
.media img,
.media video,
.media object,
.media iframe {
	width: 100%;
	height: auto;
}

/* Clear Fix */

.clearfix,
.cf {
	@include cf();
}

/* Floats */

.floatleft,
.fl {
	float: left;
}
.floatright,
.fr {
	float: right;
}
.alignleft {
	float: left;
	margin: 0 $margin $margin 0;	
}
.alignright
{
	float: right;
	margin: 0 0 $margin $margin;
}
.alignnone {
	display: inline-block;
}
.aligncenter {
	display: block;
	float: none;
	text-align: center;
	clear:both;
	margin: $margin auto;
} 


/* =============================================================================
	Structural Styles, Media Queries & Page Styling
/* ========================================================================== */

.container {
	width: $container_width;
	padding: 0 $container_padding;
	margin: 0 auto;	
	@include cf();
}

header.main {
	background: whitesmoke;
	height: $header_height;
}
footer.main {
	background: whitesmoke;
	height: $footer_height;
}

main {
	float: left;
	width: $content_width;
	.error404 & {
		text-align: center;
		ul {
			text-align: left;
		}
	}
}

.content {
	padding: $content_vert_padding 0;
}

.content.full-width,
.full-width {
	float: none;
	width: 100%;
}

.widget-area {
	float: left;
	width: $sidebar_width;
	padding: $content_vert_padding 0;
}
.widget {
	margin-bottom: $widget_bottom_margin;		
}

.article {
	margin-bottom: $size_base;
}

/* Navigation */

nav {
	& > ul {
		margin: 0;
		padding: 0;
	}
	ul {
		@include cf();
		li {
			float: left;
			display: block;
			margin-left: 10px;
			&:first-child {
				margin-left: 0;
			}
			.sub-menu {
				display: none;
			}
			&:hover {
				& > ul {
					display: block;
				}
			}
		}
	}
}


/* Paginations */

.navigation.pagination {
	clear: both;
}