@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);

*{
	font-family: 'Open Sans', sans-serif;
}

#StartUpHireWidget{
	background: none;
}

#searchArea {
    text-align: left;
}


#results{
	width: 100%;
	overflow-y: auto;
	_overflow: auto; 
}


#results::-webkit-scrollbar
{
	-webkit-appearance: none;
	width: 14px;
	height: 14px;
}

#results::-webkit-scrollbar-thumb
{
	border-radius: 8px;
	border: 3px solid #fff;
	background-color: rgba(0, 0, 0, .3);
}


select, 
input,
#searchArea input.searchButton,
#searchArea select{
	color: #0e2236 !important;
	font-weight: 600;
	font-size: 13px;
	opacity: 1;
	text-transform: uppercase;
	padding: 8px 16px 7px;
	-webkit-appearance: none;
}

::-webkit-input-placeholder {
    color: #0e2236 !important;
	font-weight: 600;
	font-size: 13px;
	opacity: 1;
}

:-moz-placeholder { /* Firefox 18- */
    color: #0e2236 !important;
	font-weight: 600;
	font-size: 13px;
	opacity: 1; 
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #0e2236 !important;
	font-weight: 600;
	font-size: 13px;
	opacity: 1;
}

:-ms-input-placeholder {  
    color: #0e2236 !important;
	font-weight: 600;
	font-size: 13px;
	opacity: 1;
}

.dataGrid th a{
	font-weight: 600;
	font-size: 11px;
	color: #0e2236 !important;
	text-transform: uppercase;
	opacity: 0.43;
	-webkit-transition: all ease 0.3s; /* Safari */
    transition: all ease 0.3s;
}
.dataGrid th a:hover{
	opacity: 1;
}
.dataGrid th{
	padding: 13px 12px 13px 5px !important;
}

.dataGrid tr td{
	padding: 12px 0px 8px 26px;
	border: none !important;
	width: 100px;
}

.dataGrid tr.even td{
	background: #f0f0f0;
}
.dataGrid tr.odd td{
	background: none !important;
}

.dataGrid tr td a{
	font-weight: 600;
	font-size: 13px;
	color: #0e2236;
}

#jobReviewNav{
    background-color: #f0f0f0;
    background-image: none;
    padding: 12px 6px 9px 6px;
}

#jobReviewNav .previousJob a,
#jobReviewNav .return a,
#jobReviewNav .nextJob a{
    font-size: 13px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1.5;
    color:#0e2236;
}

#jobReviewNav .previousJob a{
    position: relative;
    padding-left: 27px;
}

#jobReviewNav .previousJob a:before {
    content: '';
    position: absolute;
    top: 35%;
    left: 12px;
    border-right: 3px solid #0e2236;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
}

#jobReviewNav .nextJob a{
    position: relative;
    padding-right: 27px;
}

#jobReviewNav .nextJob a:after {
    content: '';
    position: absolute;
    top: 35%;
    right: 12px;
    border-left: 3px solid #0e2236;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
}


.jobReviewContentV2{
    padding-bottom: 85px;
    position: relative;
}
.jobReviewOverview{
    margin-bottom:25px;
    border-bottom: 3px solid #f0f0f0;
}

.jobReviewOverview h2 {
    float: left;
    width: 15%;
}

br + table.investorInfo {
    margin-left: 15%;
    margin-top:10px;
}

.moreCompanyInfo{
    margin-left:15%;
    clear: both;
}
table.investorInfo th:first-child,
.moreCompanyInfo table th:first-child{
    width: 150px;
}

table.investorInfo td,.moreCompanyInfo table td,
table.investorInfo th,.moreCompanyInfo table th{
    text-align: left;
    font-size: 14px;
}

table.investorInfo th,.moreCompanyInfo table th{
    text-transform: uppercase;
}


.linkBar {
    border:none;
    text-align: left;
    padding-top: 17px;
    padidng-left:5px;
    position: absolute;
    bottom:0;
    left: 0;
}

.linkBar > a{
    background-color: #16293c;
    background-image: none;
    padding: 10px 79px;
    margin-right: 0;
}

.linkBar > a > span{
    background-image: none;
    font-size: 13px;
    text-transform: uppercase;
}

.linkBar #applyInfo{
    margin: 20px 6px -20px 0;

}

.jobDescription h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 2px;
    color: #0e2236;
    padding-bottom: 37px;
    padding-top:50px;
}

table.jobInfo td, table.jobInfo th{
    font-size: 14px;
    color: #0e2236;
    text-align: left;
}

table.jobInfo th{
    text-transform: uppercase;
    width: 140px;
}