#StartUpHireWidget{
  background: transparent;
  font-family: 'Open Sans', serif;
}
#keywords{
    width: 25%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}
#location{
  width: 25%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}
#searchArea select {
  width: 25%;
  height: 34px;
  padding: 6px 12px;
  color: #17293d;
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 14px;
  font-weight: bold;
}
#searchArea input.searchButton {
  border: 1px solid #CCD4D4;
  height: 35px;
  padding: 6px 12px;
  font-size: 14px;
  background: #17293d;
  color: white;
  border-radius: 0px;
}
#results>table>thead>tr>th>a{
  color: #a5acb2;
}
#results>table>tbody>tr{
  height: 35px;
  color: #17293d;
}
#results>table>tbody>tr>td{
  border-bottom: 0px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
}
#results>table>tbody>.odd>td{
  background: #f0f0f0;
}
#results>table>tbody>tr>td:nth-child(1){
  padding-left: 20px;
}
.firstCell>a{
  text-decoration: none;
  color: #17293d;
}