body{
     font-family: 'Open Sans', serif;
    font-weight: 300;
}
.page{
    height: 100vh;
}
.data{
    display: none;
}
ul{
    list-style: none;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

/*Scrolling btn*/
#scrolling-btn{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    margin: 25px;
}

/*body for opening menu*/
@media (max-width:  768px) {
    .push.toggled {
        position: fixed;
    }
}
.push {
    min-height: 100%;
    margin: 0;
    padding: 0;
    float: right;
    width: 100%;
    transition: width 0.5s;

}
.push.toggled {
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
    width: calc(100% - 300px);
    /*transition: all 0.5s ease;*/
}

/*Side menu*/
 #side-menu.toggled {
     -webkit-transform: translateX(300px);
     transform: translateX(300px);
 }

 #side-menu-open-btn{
     position: fixed;
     top: 0;
     left: 0;
     z-index: 1;
     margin: 25px;
     display: none;
 }
 #side-menu, .easy-sidebar{
     transition: 0.5s ease;
     position: fixed;
     height: 100%;
     width: 300px;
     top: 0;
     left: -300px;
     /*min-height: 100%;*/
     z-index: 1;
     background: #0d2235;
 }
 #side-menu>div{
     font-weight: 600;
     width: 100%;
 }
 #side-menu-close-btn{
     text-align: right;
     padding-top:20px;
 }
 .side-menu-logo{
     margin-top: 10px;
     text-align: center;
 }
 .side-menu-logo>div>ul>li>a{
     color: white;
     text-decoration: none;
     font-size: 22px;
     letter-spacing: 1px;
 }
 .side-menu-logo>div>ul>li>a>img{
     margin-top: -10px;
 }
#side-menu-nav{
    position: absolute;
    top: 50%;
    margin-top: -180px;
    padding-right: 30px;
    height: 490px;
    text-align: right;
}
#side-menu-nav>div{
    height: 100%;
    border-right: solid 2px #d8dadb;
    padding-right: 0px;
}
#side-menu-nav>div>ul>li{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    padding-right: 40px;
    margin-right: -2px;
    /*border-right: ;*/
}
#side-menu-nav>div>ul>li>a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
}

/*Remove border when slide is active*/
:focus {
    outline: 0;
    /* or */
    outline: none;
}