#page05{
  padding-left: 0px;
  padding-right: 0px;
}#page05>.row{
   margin-left: 0px;
   margin-right: 0px;
 }
.page05-row-01{
  height: 20%;
  font-size: 20px;
}

.page05-row-01>div{
  height: 100%;
  display: table;
  table-layout: fixed;
  /*padding-bottom: 5%;*/
}
.page05-row-01>div>div{
  display:table-cell;
  vertical-align:bottom;
}
.page05-row-01>div>div>p{
  color: #0e2032;
  font-size: 31px;
  letter-spacing: 5px;
}
.page05-row-01>div>div>.red-line{
  border-top: solid #c77777 2px;
}