#page06{
  padding-left: 0px;
  padding-right: 0px;
}#page06>.row{
   margin-left: 0px;
   margin-right: 0px;
 }
.page06-row-01{
  height: 20%;
  font-size: 20px;
}

.page06-row-01>div{
  height: 100%;
  display: table;
  table-layout: fixed;
}
.page06-row-01>div>div{
  display:table-cell;
  vertical-align:bottom;
}
.page06-row-01>div>div>p{
  color: #0e2032;
  font-size: 31px;
  letter-spacing: 5px;
}
.page06-row-01>div>div>p:first-child{
  color: #77b7c7;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 5px;
}
.page06-row-01>div>div>.red-line{
  border-top: solid #c77777 2px;
}

