#page03{
  padding-left: 0px;
  padding-right: 0px;
}#page03>.row{
  margin-left: 0px;
  margin-right: 0px;
 }
.page03-row-01{
  background: url("../images/portfolio-content-bgr.png");
  background-size: cover;
  height: 75%;
  font-size: 17px;
}

.page03-row-01>div{
  height: 100%;
  display: table;
  table-layout: fixed;
  padding-bottom: 5%;
}
.page03-row-01>div>div{
  display:table-cell;
  vertical-align:bottom;
}
.page03-row-01>div>div>p{
  color: white;
  font-size: 31px;
  letter-spacing: 5px;
}
.page03-row-01>div>div>p:first-child{
  color: #9dd7e6;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 5px;
}
.page03-row-01>div>div>span>p{
  color: white;
}
.page03-row-01>div>div>.red-line{
  border-top: solid #c77777 2px;
}


.page03-row-02-slides>.slick-prev:before
{
  content: url("../images/portfolio_pre_slide_btn.png");
}
[dir='rtl'] .page03-row-02-slides>.slick-prev:before
{
  content: url("../images/portfolio_nex_slide_btn.png");
}
.page03-row-02-slides>.slick-next:before
{
  content: url("../images/portfolio_nex_slide_btn.png");
}
[dir='rtl'] .page03-row-02-slides>.slick-next:before
{
  content: url("../images/portfolio_pre_slide_btn.png");
}
.page03-row-02{
  width: 100%;
  /*min-height: 50%;*/
  display: none;
  position: relative;
}
/*.page03-row-02>.slick-slider{*/
  /*margin-bottom: 0px;*/
/*}*/
.page03-row-02-slides{
  width: 100%;
  /*min-height: 100%;*/
  background: #f3f3f3;
  border-bottom: solid #d7d7d7 1px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 0px;
}
/*.page03-row-02-slides>div{*/
  /*/!*height: 100%;*!/*/
  /*margin: 50px auto;*/
/*}*/
/*.page03-row-02-slides>div>div{*/
  /*height: 100%;*/
/*}*/
/*.page03-row-02-slides>div>div>div{*/
  /*height: 100%;*/
/*}*/
.page03-slide{
  margin: 50px auto;
  /*width: 100%;*/
  /*height: 100%;*/
  /*font-size: 17px;*/
  /*line-height: 200%;*/
  /*margin-left: 0px;*/
  /*margin-right: 0px;*/
}
.page03-slide>div{
}
/*.page03-slide>div:nth-child(1){*/
  /*padding-left: 0px;*/
/*}*/
.page03-slide>div>div{
}
.page03-slide>div>div>img{
  width: 100%;
}
.page03-slide>div:nth-child(1)>div{
  padding: 50px;
}
.page03-slide>div>div>ul{
  color: #0e2236;
}
.page03-slide>div>div>ul>li>strong{
  font-weight: 700;
}
.page03-slide>div>div>ul>li>span{
  font-weight: 400;
}
.page03-slide>div>div>p{
  color: #5f5f5f;
  font-weight: 400;
  line-height: 200%;
}
.portfolio-slide-close-btn{
  position: absolute;
  top: 0;
  right: 0;
  margin: 30px;
  z-index: 1;
}
.portfolio-slide-left-name, .portfolio-slide-right-name{
  font-size: 17px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  z-index: 1;
}
.portfolio-slide-left-name{
  left: 0;
  margin-left: 80px;
}
.portfolio-slide-right-name{
  right: 0;
  margin-right: 80px;
}
.portfolio-slide-left-name>a, .portfolio-slide-right-name>a{
  font-weight: 400;
  text-decoration: none;
  color: #2d404f;
}

.page03-row-03{
  width: 100%;
  height: 20%;
  position: relative;
}

.page03-row-03>div{
  height: 100%;
  display: table;
  table-layout: fixed;
}
.page03-row-03>div>ul{
  display:table-cell;
  vertical-align:middle;
  horiz-align: left;
  line-height: 400%;
}

.page03-row-03>div{
  /*position: absolute;*/
  /*top: 50%;*/
  /*margin-top: -10px;*/
  /*width: 100%;*/
}
.page03-row-03>div>ul>li{
  margin-right: 4%;
  font-size: 17px;
  font-weight: 700;
}
.page03-row-03>div>ul>li>a{
  text-decoration: none;
  color: #777777;
  letter-spacing: 3px;
}
.page03-row-03>div>ul>li>a:active{
  color: #77b7c7;
}
.page03-row-03>div>ul>li>a:focus{
  color: #0e2236;
}
.page03-row-03>div>ul>li>a:hover{
  color: #77b7c7;
}
.page03-row-03>div>ul>li:first-child{
  margin-right: 2%;
}
.page03-row-03>div>ul>li:first-child{
  color: #c77777;
  letter-spacing: 0px;
}


.page03-row-04{
  width: 100%;
}
.portfolio-block{
  margin-bottom: 5%;
}
.portfolio-block>a>img{
  width: 100%;
}