#page04{
  padding-left: 0px;
  padding-right: 0px;
}
#page04>.row{
  margin-left: 0px;
  margin-right: 0px;
}
.page04-row-01{
  background: url("../images/team-content-bgr.png");
  background-size: cover;
  height: 75%;
  font-size: 17px;
}

.page04-row-01>div{
  height: 100%;
  display: table;
  table-layout: fixed;
  padding-bottom: 5%;
}
.page04-row-01>div>div{
  display:table-cell;
  vertical-align:bottom;
}
.page04-row-01>div>div>p{
  color: white;
  font-size: 31px;
  letter-spacing: 5px;
}
.page04-row-01>div>div>p:first-child{
  color: #77b7c7;
  font-size: 14px;
  letter-spacing: 5px;
  font-weight: 600;
}
.page04-row-01>div>div>span>p{
  color: white;
}
.page04-row-01>div>div>.red-line{
  border-top: solid #c77777 2px;
}


.page04-row-02-slides>.slick-prev:before
{
  content: url("../images/portfolio_pre_slide_btn.png");
}
[dir='rtl'] .page04-row-02-slides>.slick-prev:before
{
  content: url("../images/portfolio_nex_slide_btn.png");
}
.page04-row-02-slides>.slick-next:before
{
  content: url("../images/portfolio_nex_slide_btn.png");
}
[dir='rtl'] .page04-row-02-slides>.slick-next:before
{
  content: url("../images/portfolio_pre_slide_btn.png");
}
.page04-row-02{
  width: 100%;
  height: 80%;
  display: none;
  position: relative;
}
.page04-row-02-slides{
  width: 100%;
  height: 100%;
  background: #f3f3f3;
  border-bottom: solid #d7d7d7 1px;
  padding-left: 0px;
  padding-right: 0px;
}
.page04-row-02-slides>div{
  height: 100%;
}
.page04-row-02-slides>div>div{
  height: 100%;
}
.page04-row-02-slides>div>div>div{
  height: 100%;
}
.page04-slide{
  width: 100%;
  height: 100%;
  font-size: 15px;
  line-height: 200%;
  margin-left: 0px;
  margin-right: 0px;
}
.page04-slide>div{
  height: 100%;
}
.page04-slide>div:nth-child(1){
  padding-left: 0px;
}
.page04-slide>div:nth-child(1)>div{
  height: 100%;
  overflow: hidden;
}
.page04-slide>div:nth-child(1)>div>img{
  height: 100%;
}
.page04-slide>div:nth-child(2){
  display: table;
  table-layout: fixed;
}
.page04-slide>div:nth-child(2)>div{
  display:table-cell;
  vertical-align:middle;
  font-size: 15px;
  color: #0e2032;
}
.page04-slide>div:nth-child(2)>div>p:nth-child(1){
  font-size: 40px;
}
.page04-slide>div:nth-child(2)>div>p:nth-child(2){
  font-weight: 700;
}
.page04-slide>div:nth-child(2)>div>div{
  color: #5f5f5f;
  font-weight: 400;
}
.page04-slide>div:nth-child(2)>div>p:nth-child(4){
  font-weight: 700;
}
.page04-slide>div:nth-child(2)>div>ul{
  color: #5f5f5f;
  font-weight: 400;
}
.team-slide-close-btn{
  position: absolute;
  top: 0;
  right: 0;
  margin: 30px;
  z-index: 1;
}
.team-slide-left-name, .team-slide-right-name{
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  z-index: 1;
}
.team-slide-left-name{
  left: 0;
  margin-left: 80px;
}
.team-slide-right-name{
  right: 0;
  margin-right: 80px;
}
.team-slide-left-name>a, .team-slide-right-name>a{
  text-decoration: none;
  color: #2d404f;
}


.page04-row-04{
  width: 100%;
  padding-top: 5%;
}
.team-block{
  display: block;
  margin-bottom: 5%;
}
.team-block>div>div>a>img{
  width: 100%;
}
.team-block>div:nth-child(1){
  height: 50%;
}
.team-block>div:nth-child(1)>div{
  overflow: hidden;
}
.team-block>div:nth-child(2)>div{
  text-align: center;
  padding-top: 15px;
  font-size: 17px;
  letter-spacing: 4px;
  font-weight: 600;
  color: #0e2236;
}
.team-block>div:nth-child(2)>div>span:nth-child(2){
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 30px;
}
.team-block>div:nth-child(2)>div>span:nth-child(2)>a>img{
  height: 15px;
}