#page02>.row{
  height: 100%;
}
#page02>.row>div{
   height: 100%;
 }

.page02_col_01{
  background-size: cover;
  background-image: url("../images/about_us_caption_bgr.png");
  color: white;
  text-align: center;
  padding: 0px;
  perspective: 1px;
}
.page02_col_01>ul{
  padding-left: 0px;
}
.page02_col_01>ul>li{
  position: absolute;
  width: 100%;
}
.page02_col_01>ul>li{
  top: 45%;
}
.page02_col_01>ul>li:first-child{
  top: 10%;
}
.page02_col_01>ul>li:last-child{
  top: 80%;
}
.page02_col_01>ul>li>span{
  font-size: 48px;
}
.page02_col_01>ul>li>p{
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
}

.page02_col_02{
  /*padding: 70px;*/
  font-size: 17px;
  font-weight: 400;
  display: table;
  table-layout: fixed;
  padding-left: 5%;
}
.page02_col_02>div{
  display:table-cell;
  vertical-align:middle;
}
 .page02_col_02>div>p{
   font-size: 31px;
   font-weight: 300;
   color: #0e2032;
   letter-spacing: 5px;
 }
.page02_col_02>div>p:nth-child(1){
  color: #77b7c7;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 5px;
}
.red-line{
  /*height: 2px;*/
  width: 30px;
  border-top: solid #c77777 2px;
}