#page07{
  padding-left: 0px;
  padding-right: 0px;
}
#page07>.row{
  margin-left: 0px;
  margin-right: 0px;
}
.page07-row-01{
  background: url("../images/contact-content-bgr.png");
  background-size: cover;
  height: 50%;
  font-size: 17px;
}
.page07-row-01>div{
  height: 100%;
  display: table;
  table-layout: fixed;
}
.page07-row-01>div>div{
  display:table-cell;
  vertical-align:middle;
}
.page07-row-01>div>div>p{
  color: white;
  font-size: 31px;
  letter-spacing: 5px;
}
.page07-row-01>div>div>p:first-child{
  color: #89c1cf;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 5px;
}
.page07-row-01>div>div>span>p{
  color: white;
}
.page07-row-01>div>div>.red-line{
  border-top: solid #c77777 2px;
}

.page07-row-02{
  /*height: 50%;*/
  font-size: 14px;
  font-weight: 600;
  line-height: 200%;
  color: #0e2236;
}
.page07-row-02>div{
  height: 50vh;
  padding-top: 3%;
  padding-bottom: 3%;
}
.page07-row-02-col01>div:nth-child(1){
  height: 40%;
}
.page07-row-02-col01>div>div>p:nth-child(1){
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
}

.page07-row-02>div>form{
  height: 100%;
}
.page07-row-02>div>form>div{
  height: 100%;
}
.page07-row-02>div>form>div>div{
  height: 100%;
}
.page07-row-02-col02{
  display: table;
}
.page07-row-02-col02>p{
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
  position: absolute;
  top: 0;
}
.page07-row-02-col02>p>span>img{
  height: 25px;
  margin-top: -10px;
}
.page07-row-02-col02>div{
  display: table-cell;
  vertical-align: bottom;
}
.page07-row-02-col02>div>.form-control{
  margin-top: 15px;
  border-radius: 0px;
  resize: none;
  font-weight: 400;
}

.page07-row-02-col03{
  display: table;
}

.page07-row-02-col03>div{
  display: table-cell;
  vertical-align: bottom;
}

.page07-row-02-col03>div>button{
  background: #17293d;
  color: white;
  border-radius: 0px;
  /*position: absolute;*/
  /*bottom: 0;*/
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 3px;
}
.page07-row-02-col03>div>.btn:hover, .btn:focus{
  color: white;
}