#page01> .row{
  height: 100%;
}
.slick-prev
{
  left: 50px;
  z-index: 1;
}
.slick-next
{
  right: 50px;
}
.slick-prev:before
{
  content: url("../images/pre_slide_btn.png");
}
[dir='rtl'] .slick-prev:before
{
  content: url("../images/nex_slide_btn.png");
}
.slick-next:before
{
  content: url("../images/nex_slide_btn.png");
}
[dir='rtl'] .slick-next:before
{
  content: url("../images/pre_slide_btn.png");
}
.slick-dots
{
  bottom: 45px;
}
.slick-dots li button:before
{
  content: url("../images/slide_dot.png");
  opacity: 1;
}
.slick-dots li.slick-active button:before
{
  opacity: 1;
  content: url("../images/slide_active_dot.png");
}
.my-slider{
  height: 95%;
}
.my-slider>div{
  height: 100%;
}
.my-slider>div>div{
  height: 100%;
  text-align: center;
}
.my-slide-01{
  background-image: url("../images/slide_01.png");
}
.my-slide-02{
  background-image: url("../images/slide_02.png");
}
.my-slide-03{
  background-image: url("../images/slide_03.png");
}
.top-menu{
  position: absolute;
  top: 0;
  width: 100%;
  padding: 40px;
  padding-right: 20px;
  height: 20%;
  font-weight: 600;
}
.top-logo>li>a{
  color: white;
  text-decoration: none;
  font-size: 22px;
  letter-spacing: 1px;
}
.top-logo>li>a>img{
  margin-top: -10px;
}
.top-nav{
  padding-top: 10px;
  text-align: right;
}
.top-nav>li{
  margin-left: 40px;
}
.top-nav>li>a{
  color: white;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 1px;
}
.top-nav>li>a>img{
  height: 15px;
}
.slide-text{
  margin-top: -30px;
  color: white;
  width: 20%;
  position: absolute;
  top: 50%;
  text-align: center;
  display: block;
}
.slide-text>span{
  font-size: 21px;
  letter-spacing: 6px;
  display: none;
}
.slide-text>p{
  font-size: 42px;
  letter-spacing: 12px;
}